body {
  font-size: 14px;
  box-sizing:border-box;
  font-family: 'Open Sans', sans-serif;
  color:$main_font_color
}



.btn{


  a {
    height: 8rem;
    text-decoration: none;
    font-size: 2rem;
    text-align: center;


  }
}


