$columns: 12;
$column-base-width: 100% / $columns;

.container {
  width: 100%;
  max-width: 1352px;
  margin: 0 auto;


  .row {
    display: flex;

    [class*='col-'] {
      min-height: 1px;
      width: $column-base-width;
      padding:0;
    }

    @for $i from 1 through $columns {
      .col-#{$i} {
        width: $column-base-width * $i;
      }
    }
  }
}