

//colors:

$background_color: #F0F1F1;
$white :white;
$black :black;
$main_color: #5E5322;
$complementary_color: #FAD648; //nav and side panel
$complementary_font_color: #737373; //header and columns text
$main_font_color: #3C3C3C; //btn, highlight, nagłówki ekranów


//fonts:
$text_font: 'Open Sans', sans-serif;
$complementary_font: 'Merriweather', serif;







