.giving {
  height: 55em;
}

.giving__pic {
  background:no-repeat 10% 20%;
  background-size: 130% 120%;
}

.giving__title {
  span {
    display: block;
    margin-top: 1rem;
  }
}

.giving__title__subtext{
  font-weight: lighter;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.giving__text {
  display: flex;
  align-content: center;
  justify-content: center;
  justify-items: center;
  font-size: 1.7rem;
  color: $complementary_font_color;

  span {
    display: block;
    text-align: center;
    margin:2rem 0 1rem 0;
    font-size: 2rem;

  }
  p{
    text-align: center;
    margin: 1rem;
    &:after{
      content: "";
      display: block;
      width: 9rem;
      height: 9rem;
      border: 1px solid $complementary_font_color;
      transform:rotate(45deg);
      position:relative;
      bottom:7rem;
      right: 0.5rem;

    }
  }
}
.giving__form {
  background: no-repeat ;
  background-size: 100% 100%;
  height: 60vh;
}
.giving__form__info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}