.header__content__signInLog {
  display: flex;
  justify-content: flex-end;

  :last-child {
    margin-right: 2.2rem;
  }

  a, p, button {
    margin: 48px 25px 34px 0;
    background-color: $white;
    text-decoration: none;
    color: $complementary_font_color;
    border: solid 1px white;
    font-family: $text_font;
    @media (max-width: 745px) {
     margin: 0 25px 0 0;
    }
  }

  p {
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: bold;

  }
}

.give {
  display: flex;
  align-self: center;
  justify-self: center;
  font-weight: bold;

}
