
.header__content__menu {
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  margin-bottom: 6rem;
  cursor: pointer;
  @media (max-width: 745px) {
    margin-bottom: 1rem;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: black;
  }
}

.hideMenu {
  @media (max-width: 745px) {
    display: none;
  }
}

.hideHam {
  @media (min-width: 745px) {
    display: none;
  }
}

.header__content__menu__link {
  margin-right: 2.3em;
  text-decoration: none;
  color: $complementary_font_color;
  @media (max-width: 745px) {
    width: 100%;
    margin: 1rem 1px;
    height: 2rem;
    color: white;
    border-color: $background_color;
    border-bottom: white solid 1px;
    text-align: center;
  }
}

.current {
  background-color: red;
}

.hamburger {
  position: absolute;
  top: 1px;
  left: 1px;
  cursor: pointer;
  display: none;
  @media (max-width: 745px) {
    display: block;
  }
}

.hide {
  display: none;
}


