.header__content__startHelp{
  margin-top: 11em;
}
.header__content__startHelp__title{

    span{
    display:block;
    margin: 1rem 0 0.5rem 0 ;
    }
}

.header__content__startHelp__btn {
    display: flex;
    width: 90%;
    padding-left: 0.9rem;
    justify-content: center;
    justify-content: space-between;
    padding-right: 0.5rem;
  button{
    margin:0 2.5rem 0 3rem;
    font-family: $text_font;
    border: 1px solid $main_font_color;
    }
     a {
          color: $black;
          font-weight: lighter;
        }
  }