.header__content__startHelp__title{
    text-align: center;
    font-size:  1.9rem;
    letter-spacing: -0.76px;
    span{
    display:block;
    margin: 1rem 0 0.5rem 0 ;
    }


}
.header__content__startHelp__title__image {
  background-size: cover;
  background: url('/../../../images/assets/Decoration.svg') no-repeat center;
  height: 7rem;
}

.header__content__startHelp__btn {
  display: flex;
    width: 90%;
  padding-left: 0.9rem;
    justify-content: center ;
  justify-content: space-between;
  padding-right: 0.5rem;
  button{
    margin:0 2.5rem 0 3rem;
    font-family: $text_font;
        border: 1px solid $main_font_color;
    }
     a {
          color: $black;
          font-weight: lighter;
        }
  }





