.header__content__menu {
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  margin-bottom: 6rem;
  cursor: pointer;
}

.header__content__menu__link{
    margin-right: 2.3em;
    text-decoration: none;
  color: $complementary_font_color;

  }

 .current{
  background-color: red;

}


