
.header__content__signInLog{
  display: flex;
  justify-content: flex-end;
  :last-child{
    margin-right: 2.2rem;
  }

  a{
    margin: 48px 25px 34px 0;
    background-color: $white;
    text-decoration: none;
    color: $complementary_font_color;

    font-family: $text_font;

  }
}
