.footer{
  height: 36rem;
  margin-top: 3rem;

}

.footer__picture{
  background: url('/../../../images/assets/Background-Contact-Form.jpg') no-repeat 10% 10%;
  background-size: 170% 120%;
  opacity: 0.3;
}