.footer__copyright {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 2rem;
  font-size: 1rem;
  @media (max-width: 745px) {
    justify-content: center;
  }
}
.footer__copyright__icons{
  display: flex;
  flex-direction: row;

  img{
    display: flex;
    justify-self: flex-end;
    width: 30px;
    height: 30px;

  }
}