.footer{
  height: 36rem;
  margin-top: 3rem;
}

.footer__picture{
  background:no-repeat 10% 10%;
  background-size: 170% 120%;
  opacity: 0.3;
  @media (max-width: 745px) {
   display: none;
  }
}