.aboutUs{
  margin-top: 4rem;
  height: 40rem;
  background-color: $background_color;

}

.aboutUs__picture{
  background-size: cover;
  background: url('/../../../images/assets/People.jpg') no-repeat center;

}
.aboutUs__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 10rem 0 10rem;
}
.aboutUs__content_title{
 text-align: center;
  font-size: 2rem

}
.aboutUs__content__image{
  display: block;
  background-size: cover;
  background: url('/../../../images/assets/Decoration.svg') no-repeat center;
  height: 7rem;

}
.aboutUs__content__text{
  text-align: center;
  letter-spacing: -0.6px;
  font-size: 1.5rem;
  line-height: 2.5rem;

}
.aboutUs__signature{
  display: flex;
  justify-content: flex-end;
}