.threeColumns{
  text-align: center;
  background-color: #dddd1d;
  height: 20rem;


}

.threeColumns__content {
  margin: 4rem 5rem 4rem 5rem
}
.threeColumns__content_counter{
  font-size: 5rem;

}

.threeColumns__content_title{
  font-size: 1rem;
  margin: 1rem 0 1rem 0;
}

.threeColumns__content_text{
  font-size: 0.9rem;
  font-weight: lighter;
}