.giving__form__info__step1--btn {
  display: flex;
  align-content: flex-end;

}

.giving__form__info__step1__btn {
  height: 5vh;
  border: 1px solid $complementary_font_color;
  margin: 0 1rem 2rem 0 ;
}