.step5{
margin: 2rem 2rem 2rem 0;
font-size: 1rem;
  img{
    height: 32px;
    width: 32px;
  }
p{
  font-weight: bold;
  margin: 1rem 0 1rem 0 ;
}
  h2{
    margin: 1.5rem 0 1.5rem 0 ;
  }
}
.giving__form__info__step5__localization{
  margin-top: 2rem;
}