.giving__form__info__step__name{
  margin: 1rem 0 3rem 0;
  color: $complementary_font_color;
}

.giving__form__info__step__title{
  font-size:1.5rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
}